$text-light: rgb(235, 235, 235);
$text-dark: rgb(20, 20, 20);
$text-link: rgb(76, 146, 252);
$border-light-translucent-color: rgba(228, 228, 228, 0.1);
$nav-height: 4rem;
$nav-border-radius: 20px;
$nav-text-shadow: 0px 0px 2px rgb(29, 29, 29);
$nav-moved-background-color: rgba(20, 20, 20, 0.623);
$nav-highlight-color: #2a2a388d;
$nav-highlight-border: 1px solid rgba(255, 255, 255, 0.151);
