@media (orientation: portrait), (max-width: 140vh) {
  section#splash div.col-2 {
    -ms-grid-columns: 1fr !important;
    grid-template-columns: 1fr !important;
  }
  section#projects .project {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  section#projects img,
  section#projects video {
    height: auto !important;
  }
  section#projects .project.even {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section#projects .project .project-text {
    padding: 2rem 2rem 1rem 2rem !important;
    max-width: unset !important;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Moderustic", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #e4e4e4;
  scroll-behavior: smooth;
}

#page-content {
  min-height: 100vh;
  width: inherit;
  margin: 0 auto;
  background-color: #fefefe;
  border-radius: 8px;
}

nav {
  top: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  height: calc(4rem + 2px);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 9999;
  border-radius: 20px;
}
nav ul {
  color: rgb(235, 235, 235);
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0);
  height: 4rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 20px;
  border: 1px solid rgb(20, 20, 20);
  -webkit-transition: background-color 300ms, border 300ms;
  transition: background-color 300ms, border 300ms;
}
nav ul.moved {
  background-color: rgba(20, 20, 20, 0.623);
  border: 1px solid rgba(255, 255, 255, 0.151);
}
nav ul li {
  height: inherit;
}
nav a {
  z-index: 10000;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  text-shadow: 0px 0px 2px rgb(29, 29, 29);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 19px;
  -webkit-transition: background-color 100ms;
  transition: background-color 100ms;
}
nav a:visited {
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  background-color: rgba(42, 42, 56, 0.5529411765);
}
nav a.active {
  background-color: rgba(42, 42, 56, 0.5529411765);
  border: 1px solid rgba(255, 255, 255, 0.151);
}

footer {
  width: inherit;
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: rgb(235, 235, 235);
}
footer a,
footer a:visited {
  color: #fefefe;
}

.hidden-onload {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.shown {
  opacity: 1 !important;
}

section {
  scroll-margin-top: 4rem;
}
section div.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
section div.col-2 > div {
  padding: 1rem;
  max-width: 35rem;
}
section div.col-2 > div article {
  padding-bottom: 1rem;
}
section div.col-2 > div article > ul > li {
  margin-top: 0.5rem;
}
section div.col-2 > div > h2 {
  font-weight: normal;
  text-align: center;
}
section div.col-2 > div:first-child {
  border-right: 1px solid rgba(228, 228, 228, 0.1);
}
section a.button {
  border-radius: 20px;
  background-color: #ed4933;
  color: rgb(235, 235, 235);
  text-decoration: none;
  padding: 1rem 2rem;
  display: block;
  text-align: center;
  letter-spacing: 0.25rem;
  font-weight: 500;
}
section.splash {
  min-height: 100vh;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
}
section.splash div.col-2 > div > article > h3 {
  color: rgb(235, 235, 235);
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}
section.splash div.col-2 > div > article > h4 {
  color: rgb(235, 235, 235);
  margin: 0;
  margin-top: 0.25rem;
  font-weight: normal;
  font-size: 1.25rem;
}
section.splash h1 {
  margin: 0;
  padding: 2rem 0;
  letter-spacing: 0.25rem;
  font-size: 2rem;
}
section.splash h1.page-title {
  font-weight: normal;
  margin-top: 4rem;
}
section.splash > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
section.splash > ul > li {
  margin-bottom: 0.25rem;
  font-size: 1.25rem;
}
section.splash div.text-wrap {
  padding: 0 1rem;
  max-width: 35rem;
}
section.splash p {
  margin: 0;
  padding-bottom: 1rem;
  position: relative;
  z-index: 100;
}
section.splash p img#scratch-cat {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transform: translate(-100px, -70px);
          transform: translate(-100px, -70px);
  rotate: 0deg;
  -webkit-transition: rotate 300ms, opacity 300ms, -webkit-transform 300ms;
  transition: rotate 300ms, opacity 300ms, -webkit-transform 300ms;
  transition: transform 300ms, rotate 300ms, opacity 300ms;
  transition: transform 300ms, rotate 300ms, opacity 300ms, -webkit-transform 300ms;
  pointer-events: none;
}
section.splash p a {
  text-decoration: none;
  color: rgb(76, 146, 252);
}
section.splash p a:hover {
  text-decoration: underline;
}
section.splash p a:hover img#scratch-cat {
  opacity: 0.2;
  -webkit-transform: translate(-100px, -80px);
          transform: translate(-100px, -80px);
  rotate: 5deg;
}
section.splash p a:visited {
  color: rgb(76, 146, 252);
}
section.splash div.links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6rem;
}
section.splash div.links div#resume-button-wrap {
  padding: 2rem;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
section.splash a#projects-jump {
  position: absolute;
  bottom: 2rem;
  padding: 2rem;
  color: rgb(235, 235, 235);
  font-size: 1.25rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.25rem;
  font-weight: 500;
  gap: 0.5rem;
}
section.splash a#projects-jump img {
  width: 3rem;
  height: 1rem;
  position: relative;
  top: 0rem;
  -webkit-transition: top 300ms;
  transition: top 300ms;
}
section.splash a#projects-jump:hover img {
  top: 0.25rem;
}
section#projects {
  min-height: 100vh;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(20, 20, 20);
  color: rgb(235, 235, 235);
  border-top: 1px solid rgba(228, 228, 228, 0.1);
}
section#projects h2 {
  margin: 0;
  padding: 2rem 0;
  letter-spacing: 0.25rem;
  font-size: 2rem;
}
section#projects .project {
  width: 100%;
  max-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section#projects .project.odd {
  background-color: black;
}
section#projects .project.odd .project-text {
  text-align: start;
}
section#projects .project.even {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
section#projects .project .project-text {
  padding: 2rem;
  max-width: 60%;
}
section#projects .project .project-text hr {
  border: 1px solid rgb(235, 235, 235);
  margin: 0;
  margin-top: 1rem;
  width: 10rem;
}
section#projects .project .project-text h3 {
  color: rgb(235, 235, 235);
  margin: 0;
  font-weight: bold;
  font-size: 2rem;
}
section#projects .project .project-text h4 {
  color: rgb(235, 235, 235);
  margin: 0;
  margin-top: 0.25rem;
  font-weight: normal;
  font-size: 1.25rem;
}
section#projects .project .project-text li {
  margin-bottom: 0.5rem;
}
section#projects .project a.project-img {
  display: contents;
}
section#projects .project img {
  max-width: 100vw;
  height: 28rem;
  border: none;
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
}
section#projects .project img:hover {
  -webkit-transform: scale(0.975);
          transform: scale(0.975);
}

div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}
div.icons a {
  color: rgb(235, 235, 235);
}
div.icons a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
div.icons a:visited {
  color: rgb(235, 235, 235);
}